.menu {
  padding: 20px;
  grid-area: navigation;

  display: grid;
  grid-template-rows: 1fr;
  background-color: #cda97d;

  .item {
    a {
      text-decoration: none;
      color: white;
    }
    a.active {
      color: #000;
    }
  }
}
